<%- include ("includes/header", {
   "title": "My Uploads"
}) %>

<div class="container" style="background-image: url('<%= request.mainURL %>/public/img/francetv.png'); background-position: center; background-size: cover; background-repeat: no-repeat; width: calc(100%); height: 0; padding-bottom : 70%; max-width: none;">
    <%- include ("includes/ResponseAlert", {
        "request": request
    }) %>

    <div class="row">
        <div class="col-md-4">
            <h1>My Uploads</h1>
        </div>
    <div>
    <div class="drop-files-box">
        <div class="title">Partagez en interne vos fichiers et notifiez les principaux concernés si nécessaire</div>
        <div class="drop-file">
            <div class="file">
                <a href="javascript:void(0);" class="btn btn-primary upload" onclick="selectFileForUpload();">Upload</a>
            </div>
            <div class="file-infos">
                <div class="input-box">
                    <input type="text" id="Destinataires" placeholder="Destinataires" required />
                    <input type="text" id="title" placeholder="Titre" required />
                    <input type="text" id="message" placeholder="Message" required />
                </div>
                <div class="buttons">
                    <button>Annuler</button>
                    <button>Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <div class="row">
        <%
            uploaded.forEach(function (singleFile) {
        %>
            <div class="col-md-4" style="margin-top: 30px;">

                <div class="card">
                    <div class="card-body" style="font-size: 100px; text-align: center; height: 300px;">
                        <i class="fa fa-file-text-o"></i>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <a href="javascript:void(0);"
                                        onclick="viewFile(this);"
                                        data-id="<%= singleFile._id %>"
                                        data-name="<%= singleFile.name %>"
                                        data-type="<%= singleFile.type %>">
                                        <%= singleFile.name.substring(0, 20) %>

                                        <%= (singleFile.name.length > 20) ? "..." : "" %>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</div>

<form method="POST" action="<%= request.mainURL %>/UploadFile" enctype="multipart/form-data" id="form-upload-file">
    <input type="hidden" name="_id" value="" />
    <input type="file" name="file" id="input-file-upload" style="display: none;" onchange="confirmUpload();" required />
</form>

<!-- Modal -->
<div class="modal fade" id="viewFileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <form method="POST" action="<%= request.mainURL %>/ShareViaLink" id="form-share-via-link" style="display: contents;">
                    <input type="hidden" name="_id" required />
                </form>

                <button type="button" class="btn btn-primary" onclick="shareViaLink();">
                    Share via link
                </button>

                <script>
                    function shareViaLink() {
                        if (confirm("Generate shareable link ?")) {
                            document.getElementById("form-share-via-link").submit();
                        }
                    }
                </script>

                <form method="POST" action="<%= request.mainURL %>/DeleteFile"
                    id="form-delete-file">
                    <input type="hidden" name="_id" required />

                    <button type="button" class="btn btn-danger"
                        onclick="confirmDeleteFile(this);">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function selectFileForUpload() {
        document.getElementById("input-file-upload").click();
    }

    function confirmUpload() {

        swal({
            title: "Are you sure?",
            text: "Upload the selected file to the server ?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(function(isOkay) {
                if (isOkay) {
                    document.getElementById("form-upload-file").submit();
                }
            });
    }

    function viewFile(self) {
        var _id = self.getAttribute("data-id");
        var name = self.getAttribute("data-name");
        var type = self.getAttribute("data-type");

        document.querySelector("#viewFileModal .modal-title").innerHTML = name;

        var modalBodyHtml = "";
        modalBodyHtml += "<button type='button' class='btn btn-success' onclick='downloadFile(this);' data-id='" + _id + "'>Download</button>";
        document.querySelector("#viewFileModal .modal-body").innerHTML = modalBodyHtml;
        $("#viewFileModal").modal("show");

        document.getElementById("form-delete-file")._id.value = _id;
        document.getElementById("form-share-via-link")._id.value = _id;
    }
</script>

<%- include ("includes/footer") %>

<style>
.drop-files-box{
    width: 60vw;
    height: 60vh;
    margin-top: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.title{
    background-color: white;
    font-size: x-large;
    height: 10%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2vh;
    
}
.drop-file{
    display: flex;
    flex-direction: row;
    height: 90%;
}

.file{
    background-color: white;
    width: 40%;
    margin-right: 10%;
    border: 1px solid black;
    border-radius: 10px;
}
.file-infos{
    background-color: white;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

}

.input-box{
    height: 70%;
}
input{
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
    font-size: large;
    margin: 4%;
}

::placeholder{
    color: black;
}

.buttons{
    height: 30%;
    width: 100%;
}
.upload{
    width: 50%;
    height: 10%;
    margin: 5%;
}

</style>